{% extends "base.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="span-titre">
            <h1> {{ title }} </h1>

        </div>
    </div>
    {%- block edit %}

    {% endblock -%}
        <div class="row row-lefted">
        {% for x in albums %}
            <div class="col-md-3 iconesAlbum">
                <div class="row row-centered">
                    {% if x.img != None %}
                        <a href="{{ url_for('one_album', id=x.id) }}"><img class = "img" src="{{ url_for('static', filename='img/'+x.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}"></a>
                        {% else %}
                        <img class = "img" src="{{ url_for('static', filename='images/404.jpg')}}">
                    {% endif %}
                </div>
                <div class = "row row-centered text-center fond-gris">
                    <div class="row text-center setWidthImage">
                        <a class="blanc" href="{{ url_for('one_album', id=x.id) }}">{{ x.title }}</a>
                    </div>
                    <div class="row text-center">
                        {% if x.releaseYear!="0" %}
                        <a class="dateGris" href="{{ url_for('one_date', releaseY=x.releaseYear) }}">{{ x.releaseYear }}</a>
                        {% else %}
                        <span class="italique dateGris">Non daté</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
