{% extends "base.html" %}
{% block main %}
{% if current_user.is_authenticated %}
<h1>Edit album : {{ album.title }}</h1>
<div class = "container">
    <div class = "row">
        <div class="col-md-3">
            {% if album.img != None %}
            <img class = "img imgHome" src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}">
            {% else %}
            <img src="{{ url_for('static', filename='images/404.jpg')}}">
            {% endif %}
        </div>
        <div class="col-md-9">
            <form role="form" method="POST" action="{{ url_for('save_album') }}">
                {{ form.hidden_tag() }}
                <div class={% if form.title.errors %}
                    "form-group has-error"
                    {% else %}
                    "form-group"
                    {% endif %}
                    >
                    {{ form.title.label }} {{ form.title(size=50, class_="form-control") }}
                    {{ form.releaseYear.label }} {{ form.releaseYear(size=50, class_="form-control") }}
                </div>
                {% if form.title.errors %}
                <ul class="list-group">
                    {% for e in form.title.errors %}
                    <li class="list-group-item list-group-item-danger">{{ e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input class="btn btn-default" type ="submit" value="Enregistrer">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
