{% extends "base.html" %}
{% block main %}
    {% if artist_results!=[] or genre_results!=[] or album_result[0]!=[] or compositor_results!=[] or album_result[1]!=[] or playlist_publique!=[] or playlist_privee!=[] %}
<div class = "container search_total">
    <div class = "row">
        <h1>Search results for "{{ query }}":</h1>
            {% if artist_results!=[] %}
                <h2>Artist results for "{{ query }}"</h2>
                    <div class="list_artist_pour_query">
                        <ul>
                                {% for artist in artist_results %}
                                <div class="col-md-3 tiny_margin">
                                    <li class="contour"><a href="{{ url_for('one_artist', id=artist.id) }}">{{ artist.name }}</a></li>
                                </div>
                                {% endfor %}
                        </ul>
                    </div>
            {% endif %}
    </div>

    <div class = "row">
            {% if genre_results!=[] %}
            <h2>Genre results for "{{ query }}"</h2>
                <div class="list_genre_pour_query leger_margin">
                    <ul class="leger_margin">
                        {% for genre in genre_results %}
                        <li><a href="{{ url_for('one_genre', id=genre.id) }}">{{ genre.name_g }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
    </div>

    <div class = "row row-lefted">
        {% if album_result[0]!=[] %}
        <div class="list_albums_pour_query leger_margin_b">
            <h2>Album results for "{{ query }}"</h2>
                <h4>Resultats dans les titres d'albums</h4>
                    {% for album in album_result[0] %}
                    <div class="col-md-3">
                        <div class="row row-centered">
                            {% if album.img != None %}
                                <a href="{{ url_for('one_album', id=album.id) }}"><img class = "img" src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}"></a>
                                {% else %}
                                <img class = "img" src="{{ url_for('static', filename='images/404.jpg')}}">
                            {% endif %}
                        </div>
                        <div class="row text-center fond-gris">
                            <a class="blanc" href="{{ url_for('one_album', id=album.id) }}">{{ album.title }}</a>
                        </div>
                    </div>
                        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class = "row">
        {% if compositor_results!=[] %}
        <div class="list_compositor_pour_query leger_margin">
            <h4>Resultats dans les compositeurs d'albums :</h4>
                <ul class="tiny_margin">
                    {% for compositor in compositor_results %}
                        <div class="col-md-3 tiny_margin">
                            <li class="contour"><span>{{ compositor.get_name() }}</span></li>
                        </div>
                    {% endfor %}
                </ul>
        </div>
        {% endif %}
    </div>

    <div class = "row">
        {% if album_result[1]!=[] %}
            <div class ="list_annee_pour_query leger_margin">
                <h4>Resultats dans les années de création d'albums</h4>
                    <div class="list_albums_pour_query">
                        {% for album in album_result[1] %}
                        <div class="col-md-3">
                            <div class="row row-centered">
                                {% if album.img != None %}
                                    <a href="{{ url_for('one_album', id=album.id) }}"><img src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}"></a>
                                    {% else %}
                                    <img src="{{ url_for('static', filename='images/404.jpg')}}">
                                {% endif %}
                            </div>
                            <div class="row text-center">
                                <a href="{{ url_for('one_album', id=album.id) }}">{{ album.title }}</a>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>

    <div class = "row">
        {% if playlist_publique != [] %}
        <h2>Résultat dans les playlists publiques</h2>
        <table class="table">
            {% for playlist in playlist_publique %}
                <tr>
                    <td class="contour">
                        <a href="{{ url_for('one_playlist', id=playlist.id) }}">{{ playlist.name }}</a>
                    </td>
                    {% if playlist.user_name != current_user.username %}
                    <td>
                        appartenant à {{ playlist.user_name }}
                    </td>
                    {% else %}
                    <td>
                        vous appartenant.
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if playlist_privee != [] %}
        <h2>Résultat dans vos playlists</h2>
        <table class="table">
            {% for playlist in playlist_privee %}
                <tr>
                    <td class="contour">
                        <a href="{{ url_for('one_playlist', id=playlist.id) }}">{{ playlist.name }}</a>
                    </td>
                    <td> vous appartenant
                    </td>
                </tr>
            {% endfor %}
          </table>
        {% endif %}
    </div>


    <div class = "row">
        <div class="resultat_vide_search leger_margin_b">
            <h3>Aucun résultat n'a été trouvé dans les catégories suivantes :</h3>
                <div class="col-md-12 col-centered leger_margin">
                    <ul>
                        {% if artist_results==[] %}
                            <li  class="contour"><span>Artiste</span></li>
                        {% endif %}
                        {% if genre_results==[] %}
                            <li  class="contour"><span>Genre</span></li>
                        {% endif %}
                        {% if album_result[0]==[] %}
                            <li  class="contour"><span>Album</span></li>
                        {% endif %}
                        {% if compositor_results==[] %}
                            <li  class="contour"><span>Compositor</span></li>
                        {% endif %}
                        {% if album_result[1]==[] %}
                            <li  class="contour"><span>Année</span></li>
                        {% endif %}
                        {% if playlist_publique == [] %}
                            <li  class="contour"><span>Playlist publiques</span></li>
                        {% endif %}
                        {% if playlist_privee == [] %}
                            <li  class="contour"><span>Playlist privées</span></li>
                        {% endif %}
                    </ul>
                </div>
        </div>
    </div>
</div>
    {% else %}
        <h1>Introuvable dans notre base de données : "{{ query }}"  </h1>
    {% endif %}
{% endblock %}
