h1{
  color:black;
  margin: 50px 20px;
  font-family: 'Lobster', cursive;
  font-size: 70px;
}


div.sample{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

#main{
  margin-top:5em;
}

body {
  font-family:sans-serif;
}

.italique{
  font-style:italic;
}

img{
    width: 200px;
    height: 200px;
}

.row-centered{
    text-align : center;
}

.col-centered{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-padding{
    padding-top : 15px;
    padding-bottom: 15px;
}

.button_modifier, .button_supprimer, .button_ajouter {
    padding-top: 11.5%;
    padding-bottom: 11.5%;
}

#span-titre{
    margin-bottom: 0.5%;
}

#search-li{
    margin-top: 12px;

}

#search-form{
margin-left: auto;
margin-right: auto;
}

.titre_toppage{
  margin: 50px 20px;
  font-family: 'Lobster', cursive;
  font-size: 70px;
}

.home-margin{
    margin-bottom: 3%;
}

.edit-artist{
    padding-top: 2.5%;
}

.titre-baseAlbums{
    color:red;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
}

a.blanc, a.blanc:hover{
    text-decoration: none;
    color: white;
}

.tiny_margin{
    margin:5px 5px;
}

.leger_margin{
  margin:50px 0px;
}

.leger_margin_b{
  margin-bottom:50px;
}

.leger_margin_b_playlist{
  margin-bottom:20px;
}

.carouselTitle > a{
    text-decoration: none;
    color: black;
    font-size:25px;
    font-family: 'Averia Serif Libre', cursive;
}

.contour{
    font-size:15px;
    margin:10px;
    list-style-type:none;
    display: inline;
}

.contour_vertical{
    font-size:15px;
    margin:10px;
    list-style-type:none;
}

.paddingtab{
    padding:10px;
}

.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}

.contour_vertical>a{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;span
    border-color: : red;
    padding : 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.contour > a{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;span
    border-color: : red;
    padding : 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.contour > span{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;span
    border-color: : red;
    padding : 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
