h1{
  color:red;
}

div.sample{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

#main{
  margin-top:5em;
}

body {
  font-family:sans-serif;
}

.italique{
  font-style:italic;
}

img{
    width: 200px;
    height: 200px;
}

.row-centered{
    text-align : center;
}

.col-centered{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.infoalbum{
    padding-top : 5.5%;
    padding-bottom: 5.5%;
}

.button_modifier, .button_supprimer, .button_ajouter {
    padding-top: 11.5%;
    padding-bottom: 11.5%;
}

.home-margin{
    margin-bottom: 3%;
}

.edit-artist{
    padding-top: 2.5%;
}

.titre-baseAlbums{
    color:red;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
}

#span-titre{
    margin-bottom: 0.5%;
}

.error{
    font-weight: bold;
}

.erreur{
    margin-bottom: 2%;
    text-align: center;
}

#search-li{
    margin-top: 12px;

}

#search-form{
margin-left: auto;
margin-right: auto;
}

.titre_toppage{
  margin: 50px 20px;

}
