h1{
  color:red;
}

div.sample{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

#main{
  margin-top:5em;
}

body {
  font-family:sans-serif;
}

.italique{
  font-style:italic;
}

img{
    width: 200px;
    height: 200px;
}

.row-centered{
    text-align : center;
}

.col-centered{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.infoalbum{
    padding-top : 5.5%;
    padding-bottom: 5.5%;
}

.modifier{
    padding-top: 55%;
    padding-bottom: 55%;
}

.supprimer{
    padding-top: 55%;
    padding-bottom: 55%;
}
