{% extends "base.html" %}
{% block main %}
<h1> {{ title }} </h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% if album.img != None %}
            <img class="img imgHome"src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}">
            {% else %}
            <img src="{{ url_for('static', filename='images/404.jpg')}}">
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if album.releaseYear!=0 %}
            <div class="row row-padding">
                <a href="{{ url_for('one_date', releaseY=album.releaseYear) }}">{{ album.releaseYear }}</a>
            </div>
            {% endif %}
            <div class ="row row-padding"><a href="{{ url_for('one_artist', id=album.artist_id) }}">{{ artist }}</a></div>
            <div class ="row row-padding">
                {% for g in album.genres %}
                    <a href="{{ url_for('one_genre', id=g.id) }}">{{ g.name_g + " "}}</a>
                {% endfor %}
            </div>
            <div class ="row row-padding">Compostiteur : {{ compositor }}</div>
        </div>
        <div class="col-md-1 col-md-push-4">

            {% if g.user.is_authenticated %}
            <div class ="row row-centered button_ajouter dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  {% if playlist_dropdown != [] %}
                  <li class="dropdown-header">Ajouter l'album à la playlist : </li>
                    {% for playlist in playlist_dropdown %}
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('ajoute_playlist', idplaylist=playlist.id, idalbum=album.id) }}">{{ playlist.name }}</a></li>
                    {% endfor %}
                  {% endif %}
                  <li class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('ajouter_playlist') }}">Créer une nouvelle playlist</a></li>
                  {% if g.user.admin == 1 %}
                  <li class="divider"</li>
                  <li class="dropdown-header">Gestion de l'album</li>
                  <li role="presentation"><a href ="{{ url_for('edit_album', id=album.id) }}">Editer Album</a></li>
                  <li role="presentation"><a href ="{{ url_for('delete_album', id=album.id) }}">Supprimer Album</a></li>
                  {% endif %}
              </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
