{% extends "base.html" %}
{% block main %}
<h1> {{ title }} </h1>
<div class="album">
    <ul>
        <li>{{ album.title }}</li>
        {% if album.releaseYear!=0 %}
        <li><a href="{{ url_for('one_date', releaseY=album.releaseYear) }}">{{ album.releaseYear }}</a></li>
        {% endif %}
        <li>{{ album.compositor }}</li>
        <li><a href="{{ url_for('one_artist', id=album.artist_id) }}">{{ artist }}</a></li>
        <li>{% for g in album.genres %}
                {{ g.name_g + " "}}
            {% endfor %}
        </li>
        <li>
            {% if album.img != None %}
            <img src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}">
            {% else %}
            <img src="{{ url_for('static', filename='images/404.jpg')}}">
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}
