{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super () }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}"/>
<link rel="stylesheet" type="text/css" href="/static/js/slick-1.5.9/slick/slick.css"/>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{{ url_for('home') }}">Music</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li><a href="/artist/">Artists</a></li>
           <li><a href="/album/">Albums</a></li>
           <li><a href="/genre/">Genres</a></li>
           <li><a href="/playlist/">Playlist</a></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégorie <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="#">Roman</a></li>
               <li><a href="#">Nouvelles</a></li>
               <li><a href="#">Fables</a></li>
               <li role="separator" class="divider"></li>
               <li class="dropdown-header">Genres</li>
               <li><a href="#">Polar</a></li>
               <li><a href="#">SF</a></li>
             </ul>
           </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a>{{ current_user.username }}</a></li>
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <span class="glyphicon glyphicon-log-out" title="Logout"></span>
                        </a>
                    </li>
                    <li>
                        <form style="display: inline;" action="{{ url_for('search') }}" method="POST" name="search">
                            {{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=10) }}
                            <input type="submit" value="Search">
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('login') }}">
                            <span class="glyphicon glyphicon-log-in" title="Login"></span>
                        </a>
                    </li>
                    <li>
                <a href="{{ url_for('register') }}">Register</a>
                </li>
            {% endif %}
         </ul>
       </div>
       </div><!--/.nav-collapse -->
     </div>
</nav>
{% endblock %}
{% block content %}
<div id="main" class="container theme-showcase" role="main">
  {% block main %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/init-slick.js"></script>
<script type="text/javascript" src="/static/js/slick-1.5.9/slick/slick.min.js"></script>
<!-- ce script sert à créer un carrousel grâce à slick importé dans les ressources statiques js. -->
{% endblock scripts %}
