{% extends "base.html" %}
{% block main %}
<h1> {{ title }} </h1>
<div class="container">
    {% for x in genres %}
        <div class="row">
            <div class="col-md-3">
                <p><a href="{{ url_for('one_genre', id=x.id) }}">{{ x.name_g }}</a></p>
            </div>
            <div class="carrousel_albums_genres">
            {% for album in x.albums %}
                <div class="col-md-3">
                    {% if album.img != None %}
                        <img src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/404.jpg')}}">
                    {% endif %}
                  </div>
            {% endfor %}
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
