{% extends "base.html" %}
{% block main %}
<div class="container">
  <div class="row">
    <h1> {{ title }} </h1>
  </div>
  {% if albums!=[] %}
      {% for album in playlist.albums %}
      <div class="row">
          <div class="col-md-3">
              {% if album.img != None %}
              <img src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}">
              {% else %}
              <img src="{{ url_for('static', filename='images/404.jpg')}}">
              {% endif %}
          </div>
          <div class="col-md-3">
              {% if album.releaseYear!=0 %}
              <div class="row infoalbum">
                  <a href="{{ url_for('one_date', releaseY=album.releaseYear) }}">{{ album.releaseYear }}</a>
              </div>
              {% endif %}
              <div class ="row infoalbum">{{ compositor.get_name() }}</div>
              <div class ="row infoalbum"><a href="{{ url_for('one_artist', id=album.artist_id) }}">{{ artist }}</a></div>
              <div class ="row infoalbum">
                  {% for g in album.genres %}
                      {{ g.name_g + " "}}
                  {% endfor %}
              </div>
          </div>
          <div class="col-md-1 col-md-push-4">
              <div class ="row row-centered modifier">
                  <a href ="{{ url_for('edit_album', id=album.id) }}"><button type="button" class = "glyphicon glyphicon-pencil"></button></a>
              </div>
              <div class ="row row-centered supprimer">
                  <a href ="{{ url_for('delete_album', id=album.id) }}"><button type="button" class = "glyphicon glyphicon-remove"></button></a>
              </div>
          </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="col-md-12 centered">Aucun album à afficher, ajoutez en !</div>
    {% endif %}
</div>
{% endblock %}
