{% extends "base.html" %}
{% block main %}
<div class="container">
  <div class="row titre_toppage">
    <div class="col-md-4">
      <span class="titre_sans_marge"> {{ title }} </span>
    </div>
    <div class="col-md-1 col-md-push-6">
      <a href ="{{ url_for('edit_playlist') }}"><button type="button" class = "glyphicon glyphicon-plus"></button></a>
    </div>
  </div>
  {% if playlists!=[] %}
    {% for playlist in playlists %}
      <div class="row">
        <div class="row">
          <div class="col-md-4">
            <a href="{{ url_for('one_playlist', id=playlist.id) }}">{{ playlist.name }}</a>
          </div>
          <div class="col-sm-1 col-sm-push-6">
              <a href ="{{ url_for('edit_playlist', id=playlist.id) }}"><button type="button" class = "glyphicon glyphicon-pencil"></button></a>
          </div>
          <div class="col-sm-1 centered col-sm-push-6">
              <a href ="{{ url_for('delete_playlist', id=playlist.id) }}"><button type="button" class = "glyphicon glyphicon-remove"></button></a>
          </div>
        </div>
        <!-- Slick carrousel -->
        {% if playlist.albums != [] %}
          <div class="row carrousel_albums_playlists">
          {% for album in playlist.albums %}
              <div>
                {% if album.img != None %}
                    <a href="{{ url_for('one_album', id=album.id) }}"><img src="{{ url_for('static', filename='img/'+album.img)}}" onerror=this.src="{{ url_for('static', filename='images/404.jpg')}}"></a>
                    {% else %}
                    <img src="{{ url_for('static', filename='images/404.jpg')}}">
                {% endif %}
              </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12 centered">Aucun album à afficher</div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
  {% else %}
  <div class="row">
    <div class="col-md-12 centered">Aucune playlist à afficher, n'hésitez pas à en créer une !</div>
  </div>
  {% endif %}
</div>
{% endblock %}
